{% extends 'base.html.twig' %}

{% block title %}
Admin | {{ parent() }}
{% endblock %}

{% block body %}
<div class="contentHeight">
    <h2> Connexion </h2>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post">
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 no-padding">
            <label class="col-md-2 col-xs-3 col-sm-3 col-lg-2 no-padding" for="username">Username:</label>
            <input class="col-md-4 col-xs-7 col-sm-7 col-lg-4 no-padding" type="text" id="username" name="_username" value="{{ last_username }}" />
            <div class="col-md-6 col-xs-2 col-sm-2 col-lg-6 no-padding"></div>
        </div>
        <br>
        <label class="col-md-2 col-xs-3 col-sm-3 col-lg-2 no-padding" for="password">Password:</label>
        <input class="col-md-4 col-xs-7 col-sm-7 col-lg-4 no-padding" type="password" id="password" name="_password" />
        <div class="col-md-6 col-xs-2 col-sm-2 col-lg-6 no-padding"></div>

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}
        <br>
        <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 no-padding">
            <div class="col-md-2 col-xs-3 col-sm-3 col-lg-2 no-padding"></div>
            <div class="col-md-4 col-xs-7 col-sm-7 col-lg-4 no-padding">
                <button class="butt-log btn btn-primary col-md-12 col-xs-12 col-sm-12 col-lg-12 no-padding" type="submit">Login</button>
            </div>        
            <div class="col-md-6 col-xs-2 col-sm-2 col-lg-6 no-padding"></div>
        </div>
    </form>
</div>
{% endblock %}
