{% extends 'base.html.twig' %}

{%block body %}
    <h2> Inscription </h2>
    <div class="col-md-3 col-xs-0 col-sm-1 col-lg-3"></div>
    <div id="inscription" class="img-rounded col-md-6 col-xs-12 col-sm-10 col-lg-6">
        {{form(createUserForm)}}
    </div>
    <div class="col-md-3 col-xs-0 col-sm-1 col-lg-3"> </div>
{%endblock %}